<div class="container-fluid footer p-0">
    <div class="footer-inner"></div>
    <div class="p-4 pb-0 px-0">
        <div class="container py-5 pb-0 content-holder">
            <div class="row">
                <div class="col-lg-4">
                    <p class="footer-header py-3">ABOUT NOBULALI DANGAZELE</p>
                    <P class="footer-text">Welcome to my digital home. I am a multitalented film and television
                        actress,
                        educationist, director, and businesswoman.
                        At the core of these exploits is one thing: Storytelling.</P>
                </div>
                <div class="col-lg-4 px-md-5">
                    <div class="px-md-5">
                        <p class="footer-header py-3">QUICK LINKS</p>
                        <P class="footer-links"><a href="/">Home</a></P>
                        <P class="footer-links"><a href="/about">About</a></P>
                        <P class="footer-links"><a href=" /productions">Productions</a></P>
                        <P class="footer-links"><a href=" /blog">StrARTegy</a></P>
                        <P class="footer-links"><a href=" /shakeXperience">ShakeXperience</a></P>
                        <P class="footer-links"><a href="/contact">Contact</a></P>
                    </div>
                </div>
                <div class="col-lg-4 px-md-3 pb-3">
                    <p class="footer-header py-3">SUBSCRIBE</p>
                    <form action="#">
                        <div class="row">
                            <mat-form-field appearance="fill" class="col-8">
                                <mat-label>Your Email</mat-label>
                                <input matInput placeholder="Your Email">
                            </mat-form-field>
                            <div class="col-1">
                                <button class="btn btn-mustard">OK</button>
                            </div>

                        </div>
                    </form>
                    <!--
                                    <div class="row">
                                        <div class="col-1">
                                            <img src="../../../assets/images/socials/facebook.png" alt="facebook" class="social-icon">
                                        </div>
                                        <div class="col-1">
                                            <img src="../../../assets/images/socials/twitter.png" alt="twitter" class="social-icon">
                                        </div>
                                        <div class="col-1">
                                            <img src="../../../assets/images/socials/google plus.png" alt="google plus" class="social-icon">
                                        </div>
                                        <div class="col-1">
                                            <img src="../../../assets/images/socials/behance.png" alt="behance" class="social-icon">
                                        </div>
                                        <div class="col-1">
                                            <img src="../../../assets/images/socials/pinterest.png" alt="pinterest" class="social-icon">
                                        </div>
                                        <div class="col-1">
                                            <img src="../../../assets/images/socials/instagram.png" alt="instagram" class="social-icon">
                                        </div>
                                    </div>
                                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 footer-copyright py-2 pt-3">
        <div class="container">
            <div class="row">
                <p class="col-12 col-md -6">© 2022 Nobulali Dangazele. All rights reserved.</p>
                <p class="text-end col-12 col-md -6">Made by <a href="https://mvelistoinc.co.za">Mvelisto Inc.</a></p>
            </div>
        </div>
    </div>
    <!--
    <div class="print-footer">
    </div>
    -->
</div>