//colors
$blueBlock:#223A5D;
$lightBlueBlock:#1641659d;
$textMustard:#f5d467;
$lightBlue:#b2cee0;
$lightWhite:#ffffffaf;
$white:#ffffff;
$darkBlue:#021e4c;
$lightGrey:#959595;
$superLightGrey:#c5c5c5;
$formFieldGrey:#818181;
$textDarkGrey:#5c5c5c;
$imgBorderBlue:#6396b2;
$newTextBlue:#37526F;
$textDarkBlue:#164265;
$textBlue:#96C4EA;

$aboutBackOne:#93B2D8;
$aboutBackTwo:#DBEAFF;

$shadowTitle:#58728B;
$newMustard:#ECCB5A;
$textCream:#F1F2F2;

$darkBlueText: #344A65;

$primary-color: #ECCB5A;