<div class="container-fluid read-blog"></div>

<div class="container content-holder py-5">

    <div class="row justify-content-md-end">
        <div class="col-md-11">
            <p class="block-secondary-header py-md-3 py-1 wow animate__fadeInUp" data-wow-duration="3s">Nobulali
                the Entrepreneur
            </p>

            <p class="blog-details">
                Nobulali | 18 Jan 2022
            </p>
        </div>
    </div>

    <div class="p-md-5 blog-content">
        <img src="../../../assets/images/Blog_read.jpg" class="img-fluid pb-3" alt="">

        <p class="text px-md-5">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
            dolore
            magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
            lobortis nisl
            ut
            aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
            molestie
            consequat,
            vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit
            praesent
            luptatum zzril
            delenit augue duis dolore te feugait nulla facilisi.
        </p>

        <p class="text px-md-5">
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy Lorem ipsum dolor sit amet,
            consectetuer
            adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut
            wisi enim ad
            minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
            consequat. Duis
            autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu
            feugiat nulla
            facilisis
            at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
            dolore te
            feugait
            nulla facilisi.
            Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy
        </p>
    </div>
    <div class="p-md-5 blog-btn">
        <a href="/blog" class="btn btn-dark-blue">Home</a>
    </div>


</div>
<app-footer></app-footer>