<div class="container-fluid abt-slide">
    <div class="abt-slide-content">
        <div class="row">
            <div class="slide-img-holder col-sm-12 col-md-12 col-lg-5 cycle-slideshow"
                data-cycle-slides=".slide-img-main-holder" data-cycle-fx="fade" data-cycle-speed="1000"
                data-cycle-timeout="0" data-cycle-prev=".prev" data-cycle-next=".next">
                <div class="slide-img-main-holder abt-welcome-img swiper-slide"></div>
                <div class="slide-img-main-holder abt-educator-img swiper-slide"></div>
                <div class="slide-img-main-holder abt-entrepreneur-img swiper-slide"></div>
                <div class="slide-img-main-holder abt-artist-img swiper-slide"></div>
            </div>

            <div class="slide-text-holder col-sm-12 col-md-12 col-lg-7 pt-5">
                <div class="slide-main-text-holder py-2">
                    <div class="cycle-slideshow" data-cycle-slides=".gold-sub-heading" data-cycle-fx="carousel"
                        data-cycle-speed="1000" data-cycle-timeout="4000" data-cycle-timeout="0" data-cycle-prev=".prev"
                        data-cycle-next=".next">
                        <div class="slide">
                            <p class="gold-sub-heading pt-1 px-5"><span>Thank you</span> for stopping by.
                            </p>
                        </div>
                        <div class="slide">
                            <p class="gold-sub-heading gold-underline pt-3 pb-0 px-5">Nobulali, the Educator</p>
                        </div>
                        <div class="slide">
                            <p class="gold-sub-heading gold-underline pt-3 px-5">Nobulali, the Entrepreneur</p>
                        </div>
                        <div class="slide">
                            <p class="gold-sub-heading gold-underline pt-3 px-5">Nobulali, the Artist</p>
                        </div>
                    </div>

                    <div class="abt-write-up-holder cycle-slideshow pt-0" data-cycle-slides=".abt-write-up"
                        data-cycle-fx="carousel" data-cycle-speed="1000" data-cycle-timeout="0" data-cycle-prev=".prev"
                        data-cycle-next=".next">
                        <div class="abt-write-up px-lg-5">
                            <p class="px-5 pt-4 abt-text">
                                The world of Social Science has opened innumerable opportunities for me to use many of
                                my
                                talents. Now, I work with
                                organisations to strengthen their team functionality and synergy. I am passionate about
                                and have
                                enjoyed bringing
                                creativity and experiential learning to my work, be it with the Education sector,
                                Corporations,
                                NGOs, or Government
                                entities.
                            </p>
                            <p class="px-5 abt-text">
                                In my Teaching, Consulting, Presenting, Producing, Directing, Dancing, Applied Theatre,
                                and
                                Singing, I am committed to
                                delivering with excellence. I hope to work or partner with you.
                            </p>
                            <p class="px-5 abt-text">
                                When I am not busy with social change projects, you can find me mountain climbing,
                                skydiving,
                                skiing, kickboxing, or
                                dancing.
                            </p>
                        </div>
                        <div class="abt-write-up">
                            <p class="px-5 abt-text">
                                One of the hats I am proud to wear is that of an Educator. I use my background
                                in the Arts to inform my teaching, research, and facilitation of workshops. I am
                                currently a lead faculty at the Gordon Institute of Business Science (GIBS),
                                University of Pretoria. I have also taught the Warwick Business School Executive
                                MBA and was a sessional lecturer with Queen Mary University of London
                                (School of Business Management & School of English and Drama), and
                                University of Witwatersrand. My expertise as well as teaching and research
                                interests cuts across Corporate Strategy, Diversity, Equity and Inclusion,
                                Entrepreneurship, Experiential Learning, Behavioural Insights (Nudge),
                                Symbolic Interaction, Leadership, Performance, Drama, and Applied Theatre.
                            </p>
                            <p class="px-5 abt-text">
                                I am a Qualitative Researcher with a particular interest in video methods. I
                                aspire to encourage emerging researchers and have begun supervising masters
                                and PhD level, towards this end. I also plan to use the arts as a non-medical
                                response and solution to mental health, specifically using social prescribing. I
                                also hold a Doctor of Philosophy from Warwick Business School. My
                                dissertation was an exploration of discursive, material and embodiment in
                                strategy meetings.
                            </p>
                        </div>
                        <div class="abt-write-up">
                            <p class="px-5 abt-text">
                                I am the Founder and Managing Director of ShakeXperience ®, an Applied
                                Theatre company best known for the award-winning educational programme
                                and our African adaptation of George Orwell's Animal Farm. I am also the
                                Co-Founder of Nudgeathon™ (Nudgeathon Fellow) at the Warwick Business
                                School, working with partners from the UK to South Africa, Mexico, Australia,
                                and Kuwait among others. I dream big and I dream impact – and these two
                                initiatives speak to these very qualities. As a founder, co-founder, and
                                managing director, I have developed a knack for designing, organising, and
                                executing workshops and training. It would be a great honour to work with
                                your teams towards greater effectiveness and output
                            </p>
                        </div>
                        <div class="abt-write-up">
                            <p class="px-5 abt-text">
                                My career journey started on stage and writing for the stage, later joining film
                                and television. My break-out role was playing ‘Lulu’ in Sophiatown, directed by
                                Malcolm Purkey at The Market Theatre. This role earned me a Naledi Award for
                                Best Newcomer. Since then, I have had the privilege of presenting two youth
                                television shows, Take 5 and Iketsetse. I then played the role of ‘Thuliswe’ in the
                                SABC 3 drama series Hard Copy III, ‘Yoli’ in the second and third seasons of the
                                SABC 1 drama series Home Affairs, and ‘Thuli’ in the SABC 1 mini-series A Place
                                Called Home.
                            </p>
                            <p class="px-5 abt-text">
                                I also played the role of a drug dealer's daughter ‘Nkhensani Tshinawa’ in the
                                e.tv soapie, Rhythm City, and the role of ‘Cynthia’ in a movie called The Bet,
                                directed by Hlomla Dandala for Curious Pictures. As an actor, I have also
                                dabbled in television commercials for MTN and LoveLife, and I have a plethora
                                of voice overs for radio PSAs under my belt. The stage is a special place, and
                                one where I feel quite at home.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="shadow-title">About</div>
                <div class="slide-nav row">
                    <div class="col-4 offset-2">
                        <div class="cycle-slideshow" data-cycle-slides=".text-start" data-cycle-fx="fade"
                            data-cycle-speed="1000" data-cycle-timeout="0" data-cycle-prev=".prev"
                            data-cycle-next=".next">
                            <div class="col-12 text-start">

                            </div>
                            <div class="col-12 text-start">

                            </div>
                            <div class="col-12 text-start">
                                <a mat-raised-button class="btn abt-btn btn-grey" href="/shakeXperience">Learn More</a>
                            </div>
                            <div class="col-12 text-start">
                                <a mat-raised-button class="btn abt-btn btn-grey" href="/productions">Learn More</a>
                            </div>
                        </div>

                    </div>
                    <div class="text-end col-6">
                        <button class="btn abt-btn prev">Prev <img src="../../../assets/images/about/btn_prev.png"
                                alt=""></button>

                        <button class="btn abt-btn next"><img src="../../../assets/images/about/btn_next.png" alt="">
                            Next</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../..//..//assets/js/jquery.cycle2.js"></script>