<div class="container hme-quote">
    <div class="content-holder">

        <div class="col-md-10 offset-md-1 py-3">
            <div class="px-4 justify-content-md-center">

                <div class="quote-mark wow animate__fadeInLeft" data-wow-duration="3s"></div>
                <p class="quote-text wow animate__fadeInDown" data-wow-duration="4s">
                    I enjoy bringing creativity and experiential learning to my work, be it in the Education Sector,
                    with Corporations, NGOs, or Government Entities.
                </p>
                <div class="quote-mark quote-mark-right wow animate__fadeInUp" data-wow-duration="3s"></div>
            </div>
        </div>
    </div>
</div>