<div class="contact-landing">
    <div class="contact-landing-holder wow fade-in-left">
        <div class="container main-landing-content-holder">
            <div class="col-sm-12 col-lg-8 offset-lg-4 contact-landing-text-holder p-3">
                <div class="inner text-center p-2 p-md-5">
                    <p class="main-header-white wow fade-in-bottom">
                        Let's Work Together
                    </p>

                    <p class="text pt-3 p-md-4 wow fade-in-top">
                        Welcome to my digital home. I am a multitalented film and television actress, educationist,
                        director, and businesswoman.
                        At the core of these exploits is one thing: Storytelling.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>