<div class="container-fluid hme-landing">

    <div class="content-holder-home-landing container p-3">
        <div class="inner">
            <p class="main-header-white wow fade-in-bottom" data-wow-delay="600">Welcome</p>
            <p class="booking-secondary-text  col-lg-7 ps-md-3 p-md-5 pt-md-0 wow fade-in-top" data-wow-delay="600">
                Welcome to my digital home. I am an artist, educator, director, and businesswoman, who is
                passionate about storytelling.
            </p>
        </div>
    </div>
</div>