<div class="container hme-more pt-5">
    <div class="content-holder">
        <p class="main-header-white text-center pb-3 wow fade-in-bottom">More
            from <span class="wow fade-in-top">Nobulali</span></p>

        <div class="col-lg-10 offset-md-1 py-md-5">
            <div class="row card-holder-main py-4 justify-content-md-center">
                <div class="col-md-4 card-holder px-3 py-2 wow fade-in-top">

                    <!--
                    <div class="card more-card wow animate__fadeInLeft" data-wow-duration="2s">
                        <a href="/productions">
                            <img src="../../../assets/images/home/artist.png" class="card-img-top" alt="more-link-img">

                            <div class="card-body">
                                <h1 class="card-title">ARTIST</h1>
                                <p class="card-text">
                                    <a href="/productions"> Learn more ></a>
                                </p>
                            </div>
                        </a>
                    </div>
                    -->
                    <a href="/productions">
                        <div class="custom-card"
                            [ngStyle]="{'background-image':'url(../../../assets/images/home/artist.png)'}">
                            <div class="custom-card-text-holder">
                                <div class="custom-card-text-inner">
                                    <div class="main-holder  p-3">
                                        <p class="custom-card-title">ARTIST</p>
                                        <p class="custom-card-type">Learn more</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="col-md-4 card-holder px-3 py-2 wow fade-in-top">
                    <!--
                    <div class="card more-card wow animate__fadeInUp" data-wow-duration="2s">
                        
                        <a href="/about">
                            <img src="../../../assets/images/home/educator.png" class="card-img-top"
                                alt="more-link-img">

                            <div class="card-body">
                                <h1 class="card-title">EDUCATOR</h1>
                                <p class="card-text">
                                    <a href="/about"> Learn more ></a>
                                </p>
                            </div>
                        </a>
                    </div>
                    -->
                    <a href="/about">
                        <div class="custom-card"
                            [ngStyle]="{'background-image':'url(../../../assets/images/home/educator.png)'}">
                            <div class="custom-card-text-holder">
                                <div class="custom-card-text-inner">
                                    <div class="main-holder  p-3">
                                        <p class="custom-card-title">Educator</p>
                                        <p class="custom-card-type">Learn more</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

                <div class="col-md-4 card-holder px-3 py-2 wow fade-in-top">
                    <!--
                    <div class="card more-card wow animate__fadeInRight" data-wow-duration="2s">
                        <a href="/shakeXperience">
                            <img src="../../../assets/images/home/entrepreneur.png" class="card-img-top"
                                alt="more-link-img">

                            <div class="card-body">
                                <h1 class="card-title">ENTREPRENEUR</h1>
                                <p class="card-text">
                                    <a href="/shakeXperience"> Learn more ></a>
                                </p>
                            </div>
                        </a>
                    </div>
                    -->
                    <a href="/shakeXperience">
                        <div class="custom-card"
                            [ngStyle]="{'background-image':'url(../../../assets/images/home/entrepreneur.png)'}">
                            <div class="custom-card-text-holder">
                                <div class="custom-card-text-inner">
                                    <div class="main-holder p-3">
                                        <p class="custom-card-title">ENTREPRENEUR</p>
                                        <p class="custom-card-type">Learn more</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>

                </div>

            </div>
        </div>
    </div>
</div>